## Principal Component Analysis - PCA

Principal Component analysis on IRIS dataset.
PCA is predominantly used as a dimensionality reduction technique in domains like facial recognition, computer vision and image compression. It is also used for finding patterns in data of high dimension in the field of finance, data mining, bioinformatics, psychology, etc.

- [x] Speed up the training process
- [x] Data visualization
- [x] Dimensionality reduction

[What are the Pros and cons of the PCA?](https://www.i2tutorials.com/what-are-the-pros-and-cons-of-the-pca/)

In [63]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [45]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [36]:
df = pd.read_csv("../Data/iris.csv")

In [37]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
df.shape

(150, 6)

In [39]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## Standarization

PCA is effected by scale so you need to scale the features in your data before applying PCA. Use StandardScaler to help you standardize the dataset

In [40]:
y = df.Species
X = df.drop(["Species", "Id"], axis = 1)

In [41]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [42]:
col_names = X.columns

# create the scaler object
scaler = StandardScaler()

scaled_df = scaler.fit_transform(X)
scaled_df = pd.DataFrame(scaled_df, columns=col_names)

In [44]:
scaled_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      -0.900681      1.032057      -1.341272     -1.312977
1      -1.143017     -0.124958      -1.341272     -1.312977
2      -1.385353      0.337848      -1.398138     -1.312977
3      -1.506521      0.106445      -1.284407     -1.312977
4      -1.021849      1.263460      -1.341272     -1.312977

In [46]:
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(scaled_df)

In [58]:
principalDf = pd.DataFrame(data = principalComponents, columns = ['pca1', 'pca2'])

In [59]:
finalDf = pd.concat([principalDf, y], axis=1)

In [60]:
finalDf.head()

       pca1      pca2      Species
0 -2.264542  0.505704  Iris-setosa
1 -2.086426 -0.655405  Iris-setosa
2 -2.367950 -0.318477  Iris-setosa
3 -2.304197 -0.575368  Iris-setosa
4 -2.388777  0.674767  Iris-setosa

In [68]:
"""By using the attribute explained_variance_ratio_, you can see that the first principal component 
contains 72.77% of the variance and the second principal component contains 23.03% of the variance. 
Together, the two components contain 95.80% of the information."""
pca.explained_variance_ratio_

array([0.72770452, 0.23030523])

__author__ = "